*{
	margin:0;
	padding:1em;
	color:#000aa3;
	font-family: 'Noto Serif', serif;
	box-sizing:border-box;
	font-size:16px;
}

main{
	text-align:center;
	max-width:62rem;
	margin:auto;
	background-color:#aaaaaa;
}

body{
	background-color:#bcbcbc;
}

ul{
	list-style:none;
}

button:hover, .label-file:hover{
	color:white;
	background-color:#000aa3;
}

button, .label-file{
	background-color:#f4f4f4;
	border:none;
}

.container{
	display:grid;
	grid-template-columns:repeat(3, 1fr);
	grid-template-rows:1fr;
	grid-gap:3em;
}

input[type='file']{
    position: absolute;
    margin-top: -100em;
}